body
{
background-color:white;
margin:0px;
padding:0px;
}

#wrapper
{
height:auto;
width:1000px;
margin:0 auto;
background-color:red;
}
header
{
	width:300px;
	height:150px;
	background-color:#333;
	float:left;
}
header h1
{
	font-size:40px;
	margin:50px;
	color:#FF570F;
}

nav
{
	height:150px;
	width:1000px;
	background-color:#333;
	float;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
}

nav a
{
	font-size:24px;
	margin-left:50px;
	margin-top:60px;
	text-decoration:none;
	background-color:#333;
	color:white;
	transitions:color 1s;
	float:left
}

nav a:hover
{
	color:#FF570F
}

.titlebox
{
	height:300px;
	width:1000px;
	background-color:white;
	float:left;
}
.title h1,p
{
font-size:34px;
	font-weight:900;
	margin-left:40px;
}

.title p
{
	color:lightgray;
	font-size:25px !important
}
.titleborder
{
	border-style:dotted ;
	color:gray;
	margin:40px;
}
.titlecontent p
{
	font-size:23px;
	margin:40px
}
.slider
{
	height:200px;
	width:1000px;
	background-color:skyblue;
	float:left
}
.divide1
{
	height:300px;
	width:500px;
	background-color:#FF570F;
	float:left
}
.divide1 h1
{
	margin-left:90px;
	color:white;
	float:left
}
.border
{
	border-style:dotted ;
	color:gray;
	margin-top:80px;
	margin-left:40px;
	margin-right:150px;
	
}

.divide1 h3
{
	font-size:20px;
	color:white;
	margin:20px;
	float:left;
}
.divide2
{
	height:300px;
	width:500px;
	background-color:teal;
	float:left
}

.divide2 img
{
	height:300px;
	width:500px;
	float:left
}

.box
{
	height:600px;
	width:1000px;
	background-color:white;
	margin-top:90px;
	float:left
}

.border1
{
	border-style:dotted ;
	color:gray;
	margin-top:20px;
	
}

.box1
{
	height:550px;
	width:292px;
	background-color:#FF570F;
	margin:20px;
	float:left
}

.box1 h1
{
	text-align:center;
	color:gray;
}
.border2
{
	border-style:dotted ;
	color:white;
	margin:20px;
	
}

.box1 h5
{
	margin:20px;
	font-size:20px;
	color:white
}
.box1 button
{
	height:40px;
	width:200px;
	font-size:20px;
	background-color:white;
	box-shadow:5px 5px 5px black;
	text-align:center;
	font-weight:900;
	margin:40px;
	color:#FF570F
}

.footer
{
	height:200px;
	width:1000px;
	background-color:white;
	float:left
}
.border3
{
	border-style:dotted ;
	color:gray;
	margin-top:40px;
	margin-left:40px;
	margin-right:150px;
	
}
.footer h1
{
	text-indent:180px;
	font-size:20px;
	color:gray;
	
	
}


.footer a
{
color:gray;
}
.footer p
{
	color:gray;
	text-indent:250px;
	font-size:18px;
}


